body {
    font-family: VT323;
    font-size: $font-size-default;
}





/* vt323-regular - latin */

@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/vt323-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/vt323-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/vt323-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/vt323-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/vt323-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/vt323-v15-latin-regular.svg#VT323') format('svg');
    /* Legacy iOS */
}