// Color
.u-border-color-white { border-color: $color-white !important; }

.u-color-gray { color: $color-gray !important; }

// Display
.u-display-block { display: block !important; }
.u-display-none { display: none !important; }